* { 
    margin: 0;
    padding: 0;
}

.dash-container {
    height: 100%;
    display: grid;
    grid-template-areas: "header-container"
    "dash-body";
    grid-template-rows: 75px 10fr;
    background-color: rgba(0, 0, 0, 0.4);
}

.dash-header-container {
    grid-area: header-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 10px;
}

.dash-header {
    text-align: left;
    color: rgb(217, 217, 217);
    /* border: 1px solid red; */
}

.dash-breadcrumb-container {
    justify-self: end;
    padding-right: 10px;
    /* border: 1px solid red; */
}

.dash-body {
    grid-area: dash-body;
    display: grid;
    grid-template-rows: 1fr 1.25fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.dash-row-1,
.dash-row-2,
.dash-row-3 {
    border: 1px solid red;
    display: grid;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dash-row-1 {
    grid-template-columns: repeat(4, 1fr);
}

.dash-row-2 {
    grid-template-columns: repeat(2, 1fr);
}

.dash-row-3 {
    grid-template-columns: 1fr 1.5fr;
}

.dash-row-1 > div,
.dash-row-2 > div,
.dash-row-3 > div {
    border: 1px solid green;
}

.dash-body {
    border: 1px solid blue;
}
