* { 
    margin: 0;
    padding: 0;
}

.header-container {
    /* border: 1px solid blue; */
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 250px;
    background-color: #101010;
    /* position: fixed;
    top:0;
    z-index: 2; */
}

.right-header {
    display: grid;
    grid-template-columns: 1fr 50px 2px 35px;
    gap: 15px;
}

.header-profile-name,
.header-profile-pic,
.header-divider,
.header-notification {
    /* border: 1px solid green; */
    align-self: center;
}

.header-profile-name {
    text-align: end;
    color: white;
}

.header-profile-pic {
    display: grid;
    justify-self: center;
}

.header-divider {
    justify-self: center;
}

.header-notification {
    /* display: grid; */
    justify-items: start;
}