* { 
    margin: 0;
    padding: 0;
}

.header-container {
    border: 1px solid blue;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 250px;
}

.left-header,
.right-header {
    border: 1px solid red;
}