* { 
    margin: 0;
    padding: 0;
}

.sidebar-container {
    height: 100%;
    border: 1px solid blue;
    display: grid;
    grid-template-rows: 75px 1.5fr 1fr;
}

.sidebar-header-container,
.sidebar-nav-container,
.sidebar-profile-container {
    border: 1px solid red;
}

.sidebar-nav-container
{
    display: grid;
    grid-template-rows: repeat(6, 50px);
}

.sidebar-profile-container {
    display: grid;
    grid-template-rows: repeat(3, 50px);
}

.sidebar-nav-link {
    border: 1px solid green;
}